.header {
  grid-area: h;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header span {
  color: red;
}

.loginBlock {
  float: right;
}
